src/htdocs/dtd/category.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!--DTD generated by XML Spy v3.5 NT (http://www.xmlspy.com)-->
<!ELEMENT ANNOTATION (QUERYPOSITION, QUERYSEQUENCE, QUERYPROPETIES, QUERYLINK, QUERYNOTE)>
<!ATTLIST ANNOTATION
	name CDATA #REQUIRED
	level CDATA #REQUIRED
>
<!ELEMENT CATEGORY (TYPE)>
<!ATTLIST CATEGORY
	name CDATA #REQUIRED
	description CDATA #REQUIRED
>
<!ELEMENT ENTRYPOINT (SEGMENT)>
<!ATTLIST ENTRYPOINT
	name CDATA #REQUIRED
	type CDATA #REQUIRED
	hasSubparts CDATA #REQUIRED
	hasSuperPart CDATA #REQUIRED
	description CDATA #REQUIRED
>
<!ELEMENT GROUP (GROUPNOTE, ANNOTATION)>
<!ATTLIST GROUP
	class CDATA #REQUIRED
	name CDATA #REQUIRED
	href CDATA #REQUIRED
	hrefDesc CDATA #REQUIRED
>
<!ELEMENT GROUPNOTE (#PCDATA)>
<!ATTLIST GROUPNOTE
	title CDATA #REQUIRED
>
<!ELEMENT QUERYLINK (#PCDATA)>
<!ATTLIST QUERYLINK
	href CDATA #REQUIRED
>
<!ELEMENT QUERYNOTE (#PCDATA)>
<!ATTLIST QUERYNOTE
	title CDATA #REQUIRED
>
<!ELEMENT QUERYPOSITION EMPTY>
<!ATTLIST QUERYPOSITION
	start CDATA #REQUIRED
	end CDATA #REQUIRED
>
<!ELEMENT QUERYPROPETIES EMPTY>
<!ATTLIST QUERYPROPETIES
	score CDATA #REQUIRED
	orientation CDATA #REQUIRED
	phase CDATA #REQUIRED
	start CDATA #REQUIRED
	end CDATA #REQUIRED
>
<!ELEMENT QUERYSEQUENCE (#PCDATA)>
<!ATTLIST QUERYSEQUENCE
	length CDATA #REQUIRED
	type CDATA #REQUIRED
	name CDATA #REQUIRED
	path CDATA #REQUIRED
	fileName CDATA #REQUIRED
>
<!ELEMENT REFERENCE (ENTRYPOINT)>
<!ATTLIST REFERENCE
	version CDATA #REQUIRED
	species CDATA #REQUIRED
	assemblyVersion CDATA #REQUIRED
	href CDATA #REQUIRED
>
<!ELEMENT SEGMENT (SEQUENCE, CATEGORY)>
<!ATTLIST SEGMENT
	start CDATA #REQUIRED
	stop CDATA #REQUIRED
>
<!ELEMENT SEQUENCE (#PCDATA)>
<!ATTLIST SEQUENCE
	length CDATA #REQUIRED
	type CDATA #REQUIRED
	name CDATA #REQUIRED
	path CDATA #REQUIRED
	fileName CDATA #REQUIRED
>
<!ELEMENT TYPE (GROUP)>
<!ATTLIST TYPE
	name CDATA #REQUIRED
	style CDATA #REQUIRED
	method CDATA #REQUIRED
	source CDATA #REQUIRED
>
