src/htdocs/dtd/dasstyles.dtd

<!ELEMENT DASSTYLES (GFF)>
<!ELEMENT GFF (STYLE+)>
<!ELEMENT STYLE ( #PCDATA )>
<!ATTLIST GFF version CDATA #REQUIRED>
<!ATTLIST GFF summary CDATA #IMPLIED>
<!ATTLIST GFF href CDATA #REQUIRED>
<!ATTLIST STYLE id CDATA #REQUIRED>
<!ATTLIST STYLE featureType CDATA #REQUIRED>
<!ATTLIST STYLE name CDATA #REQUIRED>
<!ATTLIST STYLE description CDATA #REQUIRED>
<!ATTLIST STYLE color CDATA #REQUIRED>
